---
layout: layouts/base.njk
title: Async Fetch
permalink: /load-data-async.html
---
<div id="site">
  <form>
    <label for="name">Find characters by name</label>
    <input type="text" id="name" name="name" required />
    <button type="submit">Search</button>
  </form>

  <ul id="results-list"></ul>
  
</div>

<script>
  let form = document.querySelector('form');
  let list = document.getElementById('results-list');

  const handleSubmit = async e => {
    e.preventDefault();

    const name = form.elements.name.value;

    const characters = await fetch(
      `https://rickandmortyapi.com/api/character/?name=${name}`,
    )
      .then(response => response.json())
      .catch(error => console.error(error));

    // remove existing results 
    while (list.firstChild) {
      list.removeChild(list.firstChild);
    }

    // add results to DOM
    characters.results.forEach(character => {
      let li = document.createElement('li');
      list.appendChild(li);

      li.innerHTML += character.name;
    })
  }

  form.addEventListener('submit', handleSubmit);
</script>